*{margin:0; padding:0; text-align: center; font-family: 'Noto Sans KR', sans-serif;}
#footer{height:40px; line-height:40px; font-family: 'Roboto', sans-serif;}

.main-wrap {display: flex; height:100%; justify-content: center; align-items: center;}
.main-wrap .main-content{width:300px; height:400px; background-color: #e1d4f2;}